<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head-resources">
        <title>DemoCrud</title>
    </head>
    <body>

        <!-- Pakai layout langsung, dan hanya bawa title dan pageTitle -->
        <div th:replace="fragments/layout :: layout ('Dashboard', 'Dashboard')">
            <!-- isi layout akan otomatis include fragment bernama "content" di halaman ini -->
            <div th:fragment="content">
                <div class="row">
                    <!-- box-box seperti sebelumnya -->
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>150</h3>
                                <p>Total Equipment</p>
                            </div>
                            <div class="icon"></div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-primary">
                            <div class="inner">
                                <h3>30</h3>
                                <p>On Going</p>
                            </div>
                            <div class="icon"></div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>30</h3>
                                <p>Overdue</p>
                            </div>
                            <div class="icon"></div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ...lanjutan box lainnya -->
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/head :: script-resources"></th:block>
    </body>
</html>
